.iu-center-box {
  width:320px;
}
.opencloset_02header {
  background-color:rgb(255,211,0);
  color:rgb(51,51,51);
  height:50px;
  position:fixed;
  width:100%;
  z-index:11;
}
.opencloset_02image {
  height:31px;
  left:4px;
  top:11px;
  width:117px;
}
.opencloset_02image-13 {
  height:20px;
  left:293px;
  top:14px;
  width:20px;
}
.opencloset_02page-content {
  background-color:rgb(218,218,218);
  height:800px;
}
.opencloset_02section {
  height:800px;
}
.opencloset_02center-box-14 {
  color:rgb(0,0,0);
}
.opencloset_02box {
  background-color:rgb(255,255,255);
  height:48px;
  left:0px;
  top:58px;
  width:320px;
}
.opencloset_02text {
  height:22px;
  left:5px;
  top:3px;
  width:160px;
}
.opencloset_02text-22 {
  border-width:0px;
  height:21px;
  left:5px;
  line-height:1;
  top:25px;
  width:296px;
}
.opencloset_02text-36 {
  height:25px;
  left:208px;
  top:0px;
  width:108px;
}
.opencloset_02box-24 {
  background-color:rgb(255,255,255);
  border-bottom-color:rgb(218,218,218);
  border-left-color:rgb(218,218,218);
  border-right-color:rgb(218,218,218);
  border-top-color:rgb(145,145,145);
  border-width:0px;
  height:220px;
  left:0px;
  top:112px;
  width:156px;
}
.opencloset_02text-31 {
  font-size:10px;
  height:30px;
  left:4px;
  line-height:1;
  top:190px;
  width:131px;
}
.opencloset_02image-26 {
  height:186px;
  left:0px;
  top:0px;
  width:156px;
}
.opencloset_02text-25 {
  background-color:rgb(44,228,255);
  color:rgb(255,255,255);
  font-weight:700;
  height:25px;
  left:0px;
  text-align:center;
  top:0px;
  width:65px;
}
.opencloset_02opencloset_02opencloset_02box-40 {
  background-color:rgb(255,255,255);
  border-bottom-color:rgb(218,218,218);
  border-left-color:rgb(218,218,218);
  border-right-color:rgb(218,218,218);
  border-top-color:rgb(145,145,145);
  border-width:0px;
  height:220px;
  left:163px;
  top:112px;
  width:156px;
}
.opencloset_02opencloset_02image {
  height:186px;
  left:0px;
  top:0px;
  width:156px;
}
.opencloset_02opencloset_02opencloset_02text-41 {
  font-size:10px;
  height:30px;
  left:4px;
  line-height:1;
  top:190px;
  width:106px;
}
.opencloset_02opencloset_02opencloset_02text-42 {
  height:21px;
  left:272px;
  top:94px;
  width:50px;
}
.opencloset_02opencloset_02box {
  background-color:rgb(255,255,255);
  border-bottom-color:rgb(218,218,218);
  border-left-color:rgb(218,218,218);
  border-right-color:rgb(218,218,218);
  border-top-color:rgb(145,145,145);
  border-width:0px;
  height:220px;
  left:0px;
  top:338px;
  width:156px;
}
.opencloset_02image-27 {
  height:186px;
  left:0px;
  top:0px;
  width:156px;
}
.opencloset_02opencloset_02text-32 {
  font-size:10px;
  height:30px;
  left:4px;
  line-height:1;
  top:190px;
  width:106px;
}
.opencloset_02opencloset_02text {
  height:21px;
  left:272px;
  top:94px;
  width:50px;
}
.opencloset_02opencloset_02opencloset_02box {
  background-color:rgb(255,255,255);
  border-bottom-color:rgb(145,145,145);
  border-left-color:rgb(218,218,218);
  border-right-color:rgb(218,218,218);
  border-top-color:rgb(145,145,145);
  border-width:0px;
  height:220px;
  left:163px;
  top:338px;
  width:156px;
}
.opencloset_02image-28 {
  height:186px;
  left:0px;
  top:0px;
  width:156px;
}
.opencloset_02opencloset_02text-33 {
  font-size:10px;
  height:30px;
  left:6px;
  line-height:1;
  top:190px;
  width:150px;
}
.opencloset_02opencloset_02opencloset_02opencloset_02box {
  background-color:rgb(255,255,255);
  border-bottom-color:rgb(145,145,145);
  border-left-color:rgb(218,218,218);
  border-right-color:rgb(218,218,218);
  border-top-color:rgb(145,145,145);
  border-width:0px;
  height:220px;
  left:0px;
  top:565px;
  width:156px;
}
.opencloset_02opencloset_02image-37 {
  height:186px;
  left:0px;
  top:0px;
  width:156px;
}
.opencloset_02opencloset_02opencloset_02text {
  font-size:10px;
  height:30px;
  left:6px;
  line-height:1;
  top:190px;
  width:150px;
}
.opencloset_02opencloset_02opencloset_02box-39 {
  background-color:rgb(255,255,255);
  border-bottom-color:rgb(218,218,218);
  border-left-color:rgb(218,218,218);
  border-right-color:rgb(218,218,218);
  border-top-color:rgb(145,145,145);
  border-width:0px;
  height:220px;
  left:163px;
  top:565px;
  width:156px;
}
.opencloset_02opencloset_02opencloset_02text-40 {
  font-size:10px;
  height:30px;
  left:4px;
  line-height:1;
  top:190px;
  width:131px;
}
.opencloset_02opencloset_02opencloset_02image {
  height:186px;
  left:0px;
  top:0px;
  width:156px;
}
.opencloset_02footer {
  background-color:rgb(109,109,109);
  height:132px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.openclosettext-5 {
  bottom:0px;
  color:rgb(150,150,150);
  font-family:'Helvetica', sans-serif;
  font-size:24px;
  height:115px;
  left:4px;
  line-height:0.70;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:97.21%;
}
.openclosetpanel {
  background-color:rgba(0,0,0,0.90);
  height:100%;
  left:100%;
  position:fixed;
  width:320px;
  z-index:90;
}
.openclosetpanel > .iux-panel-close-button {
  background-image:url('/resource/project/ico-close-modal.png');
  display:inherit;
  height:32px;
  left:287px;
  position:absolute;
  top:9px;
  width:32px;
}
.openclosettext-18 {
  background-position:center top;
  color:rgb(255,255,255);
  font-size:14px;
  font-weight:300;
  height:180px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:79px;
  width:179px;
}
.openclosettext-19 {
  height:23px;
  left:18px;
  top:16px;
  width:83px;
}
.openclosetcell {
  height:40px;
  left:161px;
  line-height:40px;
  text-align:center;
  top:47px;
  width:100px;
}
.openclosetcell-20 {
  border-color:rgb(255,255,255);
  border-radius:2px;
  border-width:1px;
  font-size:14px;
  height:23px;
  left:83px;
  line-height:23px;
  text-align:center;
  top:15px;
  width:63px;
}
@media screen and (min-width:375px) {
  .iu-center-box {
    width:375px;
  }
  .opencloset_02image {
    left:10px;
    top:11px;
  }
  .opencloset_02image-13 {
    left:345px;
    top:14px;
  }
  .opencloset_02page-content {
    height:893px;
  }
  .opencloset_02section {
    height:885px;
  }
  .opencloset_02box {
    height:50px;
    left:10px;
    top:61px;
    width:355px;
  }
  .opencloset_02text {
    left:5px;
    top:5px;
  }
  .opencloset_02text-22 {
    left:5px;
    top:27px;
  }
  .opencloset_02text-36 {
    left:242px;
    top:3px;
  }
  .opencloset_02box-24 {
    height:238px;
    left:10px;
    top:121px;
    width:172px;
  }
  .opencloset_02text-31 {
    left:4px;
    top:205px;
  }
  .opencloset_02image-26 {
    height:196px;
    width:172px;
  }
  .opencloset_02opencloset_02opencloset_02box-40 {
    height:238px;
    left:193px;
    top:121px;
    width:172px;
  }
  .opencloset_02opencloset_02image {
    height:196px;
    width:172px;
  }
  .opencloset_02opencloset_02opencloset_02text-41 {
    left:4px;
    top:205px;
  }
  .opencloset_02opencloset_02box {
    height:238px;
    left:10px;
    top:370px;
    width:172px;
  }
  .opencloset_02image-27 {
    height:196px;
    width:172px;
  }
  .opencloset_02opencloset_02text-32 {
    left:4px;
    top:205px;
  }
  .opencloset_02opencloset_02opencloset_02box {
    height:238px;
    left:193px;
    top:370px;
    width:172px;
  }
  .opencloset_02image-28 {
    height:196px;
    width:172px;
  }
  .opencloset_02opencloset_02text-33 {
    left:6px;
    top:205px;
  }
  .opencloset_02opencloset_02opencloset_02opencloset_02box {
    height:238px;
    left:10px;
    top:620px;
    width:172px;
  }
  .opencloset_02opencloset_02image-37 {
    height:196px;
    width:172px;
  }
  .opencloset_02opencloset_02opencloset_02text {
    left:6px;
    top:205px;
  }
  .opencloset_02opencloset_02opencloset_02box-39 {
    height:238px;
    left:193px;
    top:620px;
    width:172px;
  }
  .opencloset_02opencloset_02opencloset_02text-40 {
    left:4px;
    top:205px;
  }
  .opencloset_02opencloset_02opencloset_02image {
    height:196px;
    width:172px;
  }
  .openclosettext-5 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .openclosetpanel {
    background-color:rgba(0,0,0,0.90);
    height:100%;
    width:100%;
  }
  .openclosetpanel > .iux-panel-close-button {
    background-image:url('/resource/project/ico-close-modal.png');
    display:inherit;
    height:32px;
    left:339px;
    position:absolute;
    top:9px;
    width:32px;
  }
  .openclosettext-18 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }

}