/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, object, iframe,
blockquote, pre,
abbr, address, cite, code,
del, dfn, img, ins, kbd, q, samp,
small, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight:normal;
    font-family:Arial;
}

div{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    font-weight:normal;
}

h1, h2, h3, h4, h5, h6, b, i{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    font-size:inherit;
    font-weight:inherit;
}

p, span {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

a {
    color:inherit;
    cursor:pointer;
    text-decoration:none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

ul {
   list-style-type: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input {
    padding:0;
    margin:0;
}

input, select {
    vertical-align:middle;
    border-style:none;
}

input[type=submit], input[type=button], input[type=reset] {
    -webkit-tap-highlight-color:transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    line-height:1.5;
    -webkit-text-size-adjust: none;
    /* repaint text - font problem
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;*/
}

/* repaint text - font problem*/
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}